<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Auth Practice Binar Academy Node.js Backend"/>
  <title>Auth Practice | Register</title>
</head>
<body>
  <h2>Login Page</h2>
  <form action="" method="POST">
    <label for="">Username</label><br>
    <input type="text" name="username" id="username" placeholder="Masukkan username"><br>
    <br>

    <label for="">password</label><br>
    <input type="password" name="password" id="password" placeholder="Masukkan password"><br>
    
    <br>
    <button type="submit">Login</button>
  </form>
</body>
</html>