<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Auth Practice Binar Academy Node.js Backend"/>
  <title>Auth Practice | Homepage</title>
</head>
<body>
  <h2>HomePage</h2>
  <h4>Selamat Datang, </h4>
</body>
</html>